:root {
    --length: 300px;
}

#box_space {
    perspective: 800 px;
    perspective-origin: 50% 50%;
    width: var(--length);
    height: var(--length);
    margin: 0 auto;
    /*background-color: blue;*/
}

@keyframes spin {
    from { transform: rotateX(-30deg) rotateY(45deg); }
    to { transform: rotateX(-30deg) rotateY(360deg); }
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
}

.cube div {
    position: absolute;
    width: calc(var(--length) - 2px);
    height: calc(var(--length) - 2px);
    background-color: rgba(256, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
}

/* cube faces */
.front {
    transform: translateZ(calc(var(--length) / 2));
}
.back {
    transform: translateZ(calc(-1 * var(--length) / 2)) rotateY(180deg);
}
.top {
    transform: rotateX(-90deg)  translateY(calc(-1 * var(--length) / 2));
    transform-origin: top center;
}
.bottom {
    transform: rotateX(90deg) translateY(calc(var(--length) / 2));
    transform-origin: bottom center;
}
.right {
    transform: rotateY(-270deg) translateX(calc(var(--length) / 2));
    transform-origin: top right;
}
.left {
    transform: rotateY(270deg) translateX(calc(-1 * var(--length) / 2));
    transform-origin: center left;
}
