:root {
    --color1: #CCCAA7;
    --color2: #999999;
    --color3: #FFFAEB;
    --color4: #E8F2FF;
    --color5: #A7C1CC;
    --nav_size: 40px;
    --dark_color: #303030;
}

html {
    height: 100%;
    width: 100%;
}

body {
/*    background-color: var(--color4);*/
}


/*     */
/* TOP */
/*     */

#top {
    height: 150px;
    width: width;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: var(--color5);*/
}

#top #initials {
    float: left;
    height: 150px;
    width: 150px;
    /*background-color: var(--color3);*/
}

#top #fold {
    float: right;
    height: 100%;
    /* inferred width */
    /*background-color: var(--color3);*/
}

#fold #wrapper {
    height: calc(3 * var(--nav_size));
    width: calc(4 * var(--nav_size));
    /*background-color: var(--color4);*/
    margin-top: calc(50% - (1.5 * var(--nav_size)));
}

#fold #wrapper #nav_item {
    --buffer: 0.25;
    /*height: calc(var(--nav_size) - var(--buffer) * var(--nav_size));*/
    height: var(--nav_size);
    width: var(--nav_size);
    background-color: var(--color3);
    float: left;
    box-shadow: 3px 3px 5px #e9e9e9;
}

#nav_item #accent {
    height: 100%;
    width: 100%;
    background-color: #FFdAcB;
}

#nav_item p {
    /*line-height: 0px;*/
    --buffer: 0.25;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: "Georgia", Georgia, serif;
    font-size: calc(var(--nav_size) - var(--buffer) * 2 * var(--nav_size));
    line-height: calc(var(--nav_size));
}


#fold #wrapper #blank_item {
    height: var(--nav_size);
    width: var(--nav_size);
    float: left;
}

#fold #wrapper #solid_item {
    height: var(--nav_size);
    width: var(--nav_size);
    background-color: var(--dark_color);
    float: left;
    box-shadow: 6px 6px 5px #e9e9e9;
}

/*     */
/* MID */
/*     */

#mid {
    height: 700px;
    width: 100%;
    /*background-color: var(--color1);*/
}

#mid #name_wrapper {
    height: 200px;
    width: 100%;
    font-family: "Georgia", Georgia, serif;
}

#mid h1 {
    margin: 0px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}




/*     */
/* BOT */
/*     */